.bg-slate-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity, 1)) /* #f1f5f9 */;
}

.bg-rose-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(255 228 230 / var(--tw-bg-opacity, 1)) /* #ffe4e6 */;
}

.bg-slate-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity, 1)) /* #e2e8f0 */;
}

.bg-neutral-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 245 / var(--tw-bg-opacity, 1)) /* #f5f5f5 */;
}

.bg-\[\#dde5b6\] {
  --tw-bg-opacity: 1;
  background-color: rgb(221 229 182 / var(--tw-bg-opacity, 1)) /* #dde5b6 */;
}

.from-slate-200 {
  --tw-gradient-from: #e2e8f0 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(226 232 240 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.to-slate-400 {
  --tw-gradient-to: #94a3b8 var(--tw-gradient-to-position);
}

.from-rose-200 {
  --tw-gradient-from: #fecdd3 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(254 205 211 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.to-rose-400 {
  --tw-gradient-to: #fb7185 var(--tw-gradient-to-position);
}

.from-slate-300 {
  --tw-gradient-from: #cbd5e1 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(203 213 225 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.to-slate-500 {
  --tw-gradient-to: #64748b var(--tw-gradient-to-position);
}

.border-custom-3 {
  border-color: hsl(var(--custom-3));
}

.border-custom-2 {
  border-color: hsl(var(--custom-2));
}
